<div id="category_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog"
        aria-modal="false">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content">
                    <div class="cate-header">
                        <h4>Select Category</h4>
                    </div>
                    <ul class="category-by-cat">
                        <li>
                            <a href="/fruits" class="single-cat-item">
                                <div class="icon">
                                    <img src="cartgrow/util/fruits.svg" alt="">
                                </div>
                                <div class="text"> Fruits</div>
                            </a>
                        </li>
                        <li>
                            <a href="/vegetables" class="single-cat-item">
                                <div class="icon">
                                    <img src="cartgrow/util/food.svg" alt="">
                                </div>
                                <div class="text">Vegetables </div>
                            </a>
                        </li>
                        <li>
                            <a href="/grocery" class="single-cat-item">
                                <div class="icon">
                                    <img src="cartgrow/util/groceries.svg" alt="">
                                </div>
                                <div class="text">Staples </div>
                            </a>
                        </li>
                        <!-- <li>
                      <a href="//dairy" class="single-cat-item">
                          <div class="icon">
                            <img src="./util/dairy-products.svg" alt="">
                          </div>
                          <div class="text"> Dairy & Breakfast </div>
                      </a>
                  </li> -->
                        <li>
                            <a href="/beverages" class="single-cat-item">
                                <div class="icon">
                                    <img src="cartgrow/util/juice.svg" alt="">
                                </div>
                                <div class="text"> Beverages </div>
                            </a>
                        </li>
                        <!-- <li>
                      <a href="/snacks" class="single-cat-item">
                          <div class="icon">
                            <img src="./util/snack.svg" alt="">
                          </div>
                          <div class="text"> Snacks </div>
                      </a>
                  </li>
                  <li>
                      <a href="//biscuits" class="single-cat-item">
                          <div class="icon">
                            <img src="./util/biscuit.svg" alt="">
                          </div>
                          <div class="text"> Biscuits & Chocolates </div>
                      </a>
                  </li> -->
                        <!-- <li>
                    <a href="/kitchen" class="single-cat-item">
                        <div class="icon">
                            <img src="util/cooking.svg" alt="">
                        </div>
                        <div class="text"> Kitchen </div>
                    </a>
                  </li>
                  <li>
                      <a href="/noodles" class="single-cat-item">
                          <div class="icon">
                            <img src="./util/noodles.svg" alt="">
                          </div>
                          <div class="text"> Noodles & Sauces </div>
                      </a>
                  </li>
                  <li>
                      <a href="//persoalCare" class="single-cat-item">
                          <div class="icon">
                            <img src="./util/wash.svg" alt="">
                          </div>
                          <div class="text"> Personal Care </div>
                      </a>
                  </li> -->
                        <li>
                            <a href="/medicine" class="single-cat-item">
                                <div class="icon">
                                    <img src="cartgrow/util/medicine.svg" alt="">
                                </div>
                                <div class="text"> Medicine </div>
                            </a>
                        </li>
                        <li>
                            <a href="/stationary" class="single-cat-item">
                                <div class="icon">
                                    <img src="cartgrow/util/agenda.svg" alt="">
                                </div>
                                <div class="text"> Stationary </div>
                            </a>
                        </li>
                        <!-- <li>
                      <a href="//petCare" class="single-cat-item">
                          <div class="icon">
                            <img src="./util/dog.svg" alt="">
                          </div>
                          <div class="text"> Pet Care </div>
                      </a>
                  </li> -->
                    </ul>
                    <!-- <a href="#" class="morecate-btn"><i class="uil uil-apps"></i>More Categories</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Category Model End-->
    <!-- Search Model Start-->
    <div id="search_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog"
        aria-modal="false">
        <div class="modal-dialog search-ground-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content">
                    <div class="search-header">
                        <form action="#">
                            <input type="search" placeholder="Search for products...">
                            <button type="submit"><i class="uil uil-search"></i></button>
                        </form>
                    </div>
                    <div class="search-by-cat">
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-1.svg" alt="">
                            </div>
                            <div class="text">
                                Fruits and Vegetables
                            </div>
                        </a>
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-2.svg" alt="">
                            </div>
                            <div class="text"> Grocery & Staples </div>
                        </a>
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-3.svg" alt="">
                            </div>
                            <div class="text"> Dairy & Eggs </div>
                        </a>
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-4.svg" alt="">
                            </div>
                            <div class="text"> Beverages </div>
                        </a>
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-5.svg" alt="">
                            </div>
                            <div class="text"> Snacks </div>
                        </a>
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-6.svg" alt="">
                            </div>
                            <div class="text"> Home Care </div>
                        </a>
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-7.svg" alt="">
                            </div>
                            <div class="text"> Noodles & Sauces </div>
                        </a>
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-8.svg" alt="">
                            </div>
                            <div class="text"> Personal Care </div>
                        </a>
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="cartgrow/util/icon-9.svg" alt="">
                            </div>
                            <div class="text"> Pet Care </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>