<!DOCTYPE html>
<!-- saved from url=(0068)http://gambolthemes.net/html-items/gambo_supermarket_demo/index.html -->
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="images/wbg.png">
    <link href="cartgrow/css/css2.css" rel="stylesheet">
    <link href="cartgrow/css/unicons.css" rel="stylesheet">
    <link href="cartgrow/css/style.css" rel="stylesheet">
    <link href="cartgrow/css/responsive.css" rel="stylesheet">
    <link href="cartgrow/css/night-mode.css" rel="stylesheet">
    <!-- Vendor Stylesheets -->
    <link href="cartgrow/css/all.min.css" rel="stylesheet">
    <link href="cartgrow/css/owl.carousel.css" rel="stylesheet">
    <link href="cartgrow/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="cartgrow/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="cartgrow/css/semantic.min.css">
    <!-- unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">